

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Harvest Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <h1>Your Harvest Tracker</h1>
  <h2> Find your most productive plots. Renew unproductive ones. </h2>
  <form action="/tree-record" method="POST">
    <input type="date" placeholder="date" name="date">
    <input type="text" placeholder="plot" name="plot">
    <input type="text" placeholder="variety" name="variety">
    <button type="submit">Submit</button>
  </form>
  

  <div>
    <h2>Replace corn with soybeans</h2>
    <p>
    Rotating corn and soybeans allows us to use less fertilizer when growing corn. 
    </p>
    Replace first-entered corn plot <button id="update-button">here</button> Refresh page after replacing.
  </div>


  <div>
    <h2>Remove cucumber plots</h2>
    <p>
    Cucumbers are annuals. They need to be replanted every season.
    </p>
    Remove last-entered cucumber plot <button id="delete-button">here</button>
  </div>

  <div id="message"></div>


  <h2> Your Plots </h2>
  <p>Click <span class='fa fa-fire'></span> to burn a plot and start over. Click <span class='fa fa-seedling'></span> to update output.</p>

  <ul class="tree-list">
    <!-- Loop through quotes -->
    <% for(var i = 0; i < trees.length; i++) {%>
      <li class="trees">
        <span><%= trees[i].date %></span>
        <span><%= trees[i].plot %></span>
        <span><%= trees[i].variety %></span>
        <span><%= trees[i].yield %></span>
        <span class='fa fa-seedling'></span>
        <span class='fa fa-fire'></span>
      </li>
    <% } %>
  </ul>

  <script src="/main.js"></script>
</body>
</html>